.idea
.idea/workspace.xml
.idea/*
__pycache__
Extractors/__pycache__
images/__pycache__
ui/__pycache__
data/googleNews/*
data/nyTimes/*
data/redditNews/*
data/redditWorldNews/*
data/theGuardian/*
data/custom.txt
data/output1.txt
/data/wc.png
data/wc.png
/data/customscores.txt
